<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestaurantService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:29313/RestaurantService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantService"
                contract="IRestaurantService" name="BasicHttpBinding_IRestaurantService" />
        </client>
    </system.serviceModel>
</configuration>